@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.bg {
  background: rgba(126, 51, 224, 1);
}
/* .bg {
  background: rgb(200 158 255);
} */
/* a,
.nav {
  color: white;} */

p,
li {
  color: #ACABC3;
}

option,
select {
  color: #ACABC3;

}

.text-01 {
  color: #ACABC3;
}

.tet {
  text-decoration: underline;
}

.shaodow12 {
  background: #FFF;
  box-shadow: 0px 0px 20px 5px rgba(248, 246, 253, 0.75);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  /* --bs-navbar-padding-x: 0; */
  /* --bs-navbar-padding-y: 0.5rem; */
  /* --bs-navbar-color: rgba(0, 0, 0, 0.55); */
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  /* --bs-navbar-brand-color: rgba(0, 0, 0, 0.9); */
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.home-1 {
  background: rgba(242, 240, 255, 1);
  height: 65vh;
}

.home {
  background: rgba(242, 240, 255, 1);
  height: 30vh;
}

.bg-1 {
  background: rgba(246, 247, 251, 1);
  
}

.bg-6 {
  background: rgba(246, 247, 251, 1);
  border-radius: 50%;
  display: inline-block;
}

.faq {
  background: rgba(248, 248, 253, 1);
}

.faq-1 {
  background-color: rgba(235, 244, 243, 1);
}

.bg-6:hover::before {
  /* border-radius: 269px; */
  /* background: #9877E7; */
  background-image: url(./Images/bg.png);
}

/* .bg-7 {
  background-image: url(./Images/Rectangle\ 102.png);
  height: 50vh;
  background-repeat: no-repeat;
  padding: 160px;
} */

.bg-2 {
  background: #F1F0FF;
}

.bg-21 {
  background: #FBFBFF;
}

.bg-3 {
  background: #FFF6FB;

  /* shadow */
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}

.bgg-10 {
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
}

.bg-0 {
  background: rgba(238, 239, 251, 1);.footer12{
    background: #E7E4F8;
  }
}

.shaqwdow {
  background: #FFF;

  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}

/* section {
  margin: 1rem;
} */

.hov:hover {
  background: rgba(47, 26, 196, 1);
  color: white;

}

.text-1 {
  color: rgba(251, 46, 134, 1);
  font-family: 'Josefin Sans', sans-serif;

}

.hov-1:hover {
  color: rgba(251, 46, 134, 1);
  text-decoration: underline;
}

.hov-2:hover {
  text-decoration: underline;
}

.main-content {
  color: rgba(26, 11, 91, 1);
  font-family: 'Josefin Sans', sans-serif;
}

.main-content-1 {
  font-family: 'Josefin Sans', sans-serif;
}

.cal-0::marker {
  color: #F52B70;
}

.cal-1::marker {
  color: #2B2BF5;
  ;
}

.cal-2::marker {
  color: #2BF5CC;
}

.text-4 {
  color: #B8B8DC;
}

.btntheme {
  background-color: rgba(251, 46, 134, 1);
  border: 0;
  border-radius: 4px;
  color: white;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btntheme1 {
  background-color: rgba(249, 57, 191, 1);
  border: 0;
  border-radius: 4px;
  color: white;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btntheme2 {
  background-color: rgba(25, 209, 111, 1);
  border: 0;
  border-radius: 4px;
  color: white;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-9 {
  background-color: rgba(255, 231, 249, 1);
}

.text-10 {
  background-color: rgba(255, 236, 226, 1);
}

.text-11 {
  background: #FAFAFB;
}

.vl {
  border-left: 1px solid #FC45A0;
  ;
  height: 111px;
}

.field {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #BFC6E0;
  background: rgba(248, 248, 253, 1);
}
.control__btn {
  border: none;
}
.footer12{
  background: #E7E4F8;
}

.navbar-toggler-icon {
  display: none;
}
.navbar-close-icon {
  display:inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.navbar-toggler.collapsed .navbar-close-icon {
  display: none;
}
.navbar-toggler.collapsed .navbar-toggler-icon {
  display: inline-block;
}
.n123{
  color: rgba(138, 143, 185, 1);
}
.textt12{
  color: white;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: 300px; */
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 0.5rem;
  
  
  img {
    border-radius: 12px;
  }
  
  .card_title {
    border-radius: 12px;
    background-color: #5A5A5A;
    padding: 0.5rem;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .card_body {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card_footer-1 {
    border-top: 1px solid grey;
    padding: 0.5rem 0 0;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}